{% extends 'base.html'%}
{% load static %}

{% block title %}
Вход:{{block.super}}
{% endblock %}

{% block content %}
<h1>Вход</h1>

<form method='post'>
    {% csrf_token %}
    {{ form.as_p}}
    <div class="djDebugPanelTitle">
        <button type="submit" class="btn btn-primary btn">Вход</button>
</form>


<div class="container">
    <div class="row">
        <div class="blog-post-area-style">
            <div class="col-md-11">
                <div class="single-post-big">
                    <div class="big-image">
                        <img src="{% static 'img/front3.png' %}" alt="" width="350">
                    </div>
                    <div class="big-text">
                        <h2>About us</h2>
                        <p>Women's underwear is one of the main ways to
                            express your femininity on a very subtle level.
                            It is very important to be feminine from head
                            to toe, internally and externally. Being alone
                            with a man, you surprised him a lot by showing
                            that there is still something to look at under
                            your clothes. Men love underwear, and not just
                            red. It turns them on and drives them crazy.
                            And imagine what delight you can cause a man,
                            every day offering him something new, a new
                            self and a new game! A naked body is not as
                            sexy as a body in beautiful exquisite lingerie.</p>
                        <p> It's all about the right attitude, inner
                            self-confidence and femininity, which in no
                            case should be lost or hidden. Feel
                            irresistible and feminine and believe in it
                            with every cell of your being. It will
                            definitely be noticed by others. And one of the
                            most important attributes of irresistibility
                            and femininity is underwear.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}