{% load menu %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <h2><a href="{% url 'home' %}">MILTIM</a></h2>
                </div>
            </div>
            <div class="col-md-10">
                {% show_menu %}
                <!--                <div class="menu">-->
                <!--                    <ul>-->
                <!--                        <li class="active"><a href="#">Главная</a></li>-->
                <!--                        <li><a href="#">Топ</a></li>-->
                <!--                        <li><a href="#">Низ</a></li>-->
                <!--                        <li><a href="#">Вход</a></li>-->
                <!--                        <li><a href="#">Регистрация</a></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</header>